<h1>Men#show</h1>
<p>Find me in app/views/men/show.html.erb</p>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(img);">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Summary</h2>

    <p>Very cool stuff, useful and smart</p>
  </div>

  <a class="card-link" href="#" ></a>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>

