.request-row {
  width: 90%;
  background-color: #efeae1;
  border-radius: 5px;
  border-shadow: 3px 3px 5px 5px grey;

}


.request-img {
  width: 150px;
  height: 150px;
}


.request-name {
  font-size: 3rem;
}

