.wrapper-dashboard {
  background-color: #FAFAFA;
  padding: 20px;
}

.tabs a {
  padding: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.request-row {
  width: 80%;
  background-color: #efeae1;
  border-radius: 5px;
  border-shadow: 3px 3px 5px 5px grey;
  margin: 30px;
}

.requests-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.relative {
  position: relative;
}

.request-img {
  width: 320px;
  margin-top: 20px;
}

.request-name {
  font-size: 3rem;
}

.btn-float-left {
  display: inline-block;
  float: left;
  margin-right: 20px;
  background: white;
}

.action {
  display: inline-block;
  float: left;
  margin-right: 20px;
  color: #CF8E03;

  a, .btn-float-left {
      color: #CF8E03;

      border: none;

      &:hover {
        background: white;
        color: #201D2D;
      }
  }
}

.dashboard-container {
  width: 100%;
  margin-top: 30px;
}

.dashboard-profile {
  padding-top: 30px;
  height: 90vh;
  width: 100%;
  margin-left: 10%;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border-radius: 5px;
  text-align: center;
}

.dashboard-profile-info {
  text-align: center;
}

.dashboard-profile-img {
  width: 200px;
  border-radius: 50%;
}

.dashboard-navbar {
  margin-left: 5%;
  margin-right: 20px;
  height: 100vh;
  width: 90%;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border-radius: 5px;
  overflow: scroll;
}

#bookings .nav-tabs {
  padding: 15px 0;
}

#bookings .nav-tabs:hover {
  color: #CF8E03;
}

@media screen and (max-width: 991px) {
  .dashboard-row {
    width: 100%;
    margin-left: 5%;
  }

  .request-row {
    width: 100%;
  }

  .dashboard-navbar {
    margin-left: 0px;
  }
}

.btn-profile {
    color: #CF8E03;
}



