/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  background-size: cover;
  background-position: center;
  color: white;
}
