
.wraper {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color:  #f9f8f7;
  opacity: 0.9;
}

.intro_summary {
  margin-right: 130px;
  margin-left: 100px;
  padding-bottom: 70px;
}

.block_butt {
  padding: 100px 0;
}


.item {
  width: 300px;
  height: 300px;
}

.carousel {
  width: 300px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.form-wrapper {border-radius: 4px;
    background: rgba(0,0,0,0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#99000000', endColorstr='#99000000');
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 1;
}

.container.wrapper_form {
  width: 450px;

}

.container.wrapper_map {
  width: 1200px;
  padding-bottom: 50px;

}
.img-thumbnail {
border: none !important;

}
.font_color {
 font-family: 'ABeeZee', sans-serif;
 color:#F06F6C;
 font-weight: bold;
}

.summary_style {
 margin-top: 0px;

}
.title {
padding-top: 10px;
padding-bottom: 60px;
font-family: 'Passion One', cursive;
font-size: 48px;
text-transform: capitalize;
}

