
.wraper {
  padding-top: 70px;
  padding-bottom: 70px;
}

.intro_summary {
  margin-right: 130px;
  margin-left: 100px;
  padding-bottom: 70px;
}

.block_butt {
  padding-top: 60px;
  padding-bottom: 80px;

}

.item {
  width: 300px;
  height: 300px;
}

.carousel {
  width: 300px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}
