
// .btn-treehouse {
//   color: white;
//   background: #6AD58B;
//   transition: background 0.3s ease;
// }


// .btn-medium {
//   color: #999999;
//   border: 1px solid #999999;
//   padding: 10px 15px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.6;
// }
// .btn-medium:hover {
//   opacity: 1;
//   text-decoration: none;
//   color: #999999;
// }
.btn-treehouse {
  color: white;
  // width: 120px;
  padding: 7px 12px;
  border-radius: 4px;
  // font-weight: bold;
  background: #536385;
  transition: background 0.3s ease;
  text-align: center;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.btn-yours {
  background: #4FA5DF;
  color: white;
  padding: 12px;
  border-radius: 6px;
  font-weight: lighter;
  font-family: 'Proxima Nova', sans-serif;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);

}

.btn-yours:hover {
  opacity: 1;
  text-decoration: none;
  background: #2280BF;
  transition: background 0.3s ease;
  cursor: pointer;
}
