.card {
  height: 300px;
  background-size: cover !important;
  background-position: center;
  color: #F6F6F6;
  position: relative;
  margin: 10px;
  border-radius: 3px;
  // @include make-xs-column(12, 0);
  // @include make-sm-column(6, 0);
  // @include make-md-column(4, 0);

}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
